
.indexbgrd{background-color:rgb(49, 49, 49);background-position: center; background-size: auto;height: 100%;
margin: 0px 0px;}
.dropbtn {
  background-color: #948f93;
  color: white;
  padding: 16px 16px 16px 16 px;
  font-size: 16px;
  border: none;
}

.bkgrd{background-position: center;
padding: 1px 1px 1px 1px;

}

.drpdnbtn{background-color: #948f93;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;}

.dropdown{padding: 10px 10px;
background-color: rgb(232, 235, 240);
color: rgb(93, 94, 93);
}

.resbackground{background-color: rgb(184, 193, 241);}

.bkgrd {
  border-radius: 8px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100% 50%;
  opacity:0.1;
  z-index: 1;
}

.navbar-brand{background-color: #948f93;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;}

  .navbar-brand{align-content: center;}

.col1{background-color: #948f93;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;}

  .col2{background-color: #817f81;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;}
    .col3{background-color: #686467;
      color: white;
      padding: 16px;
      font-size: 16px;
      border: none;}

      .busman{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 60px;
    bottom: 80px;
    left: 60px;
    right: 80px;
    width: 100% 50%;
    margin-top: auto;
    opacity: .3;
    z-index: 2;
  border-radius: 3;}

  .conbgrd{background-color:rgb(49, 49, 49);background-position: center; background-size: auto;height: 100%;
    margin: 0px 0px;}